/* MonthPicker */
.appui-date-picker-pane__year-header-button {
    -unity-font-definition: var(--appui-font-weights-200);
}

.appui-date-picker-pane__months-container {
    display: flex;
    flex-wrap: wrap;
}

.appui--ltr .appui-date-picker-pane__months-container {
    flex-direction: row;
}

.appui--rtl .appui-date-picker-pane__months-container {
    flex-direction: row-reverse;
}

.appui-text.appui-date-picker-pane__month-button {
    width: 33.3%;
    padding: var(--appui-alias-control-gap-sm) 0;
    -unity-text-align: middle-center;
    flex-shrink: 0;
    flex-grow: 0;
    min-height: var(--appui-sizing-800);
}

.appui-text.appui-date-picker-pane__month-button.is-hovered {
    background-color: var(--appui-alias-actions-background-color-hover);
    color: var(--appui-foregrounds-200);
}

.appui-text.appui-date-picker-pane__month-button.is-active {
    background-color: var(--appui-alias-actions-background-color-active);
    color: var(--appui-foregrounds-200);
}

.appui-text.appui-date-picker-pane__month-button:disabled {
    opacity: 0.5;
}